*{
    padding: 0;
    margin: 0;
}
.box{
    width: 99.5%;
    height: 500px;
    border: 2px solid black;
    margin-top: 1px;
    margin-left: 1px;
    position:relative;
    overflow: hidden;
}
.round{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: yellow;    
    position: absolute;
    left:225px;
    top: 225px;
    
}
.R1C1{
    height: 50px;
    width: 50%;
    float: left;
}
.R1C2{
    height: 50px;
}
.field{
    border-width: 0;
}
.start{
    padding: 5px;
    margin: 5px;
    float:right;
    opacity: 0.5;
    border-width: 7px;
    border-color: aliceblue;  
}
.start:hover,
.stop:hover{
    border-color:darkgray;
    border-width: 5px;
    background-color: aqua;
}
.stop{
    padding: 5px;
    opacity: 0.5;
    margin: 5px;
    border-width: 7px;
    border-color: aliceblue;
    
}


